.cart-container {
  display: flex;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.cart-result-list {
  align-items: center;
  justify-content: center;
  text-decoration: none;
  list-style-type: none;
}

.cart-result-item {
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  align-items: center;
  background-color: #ffffff;
  height: 90px;
  border: 2px solid rgb(189, 188, 188);
  overflow: hidden;
}

.cart-result-item-quantity {
  font-size: 20px;
  text-align: center;
}
.cart-result-item-name {
  font-size: 16px;
  text-align: center;
  overflow: hidden;
}
.cart-result-item-price {
  font-size: 18px;
  text-align: center;
  font-weight: 700;
}

.cart-actions {
  margin-right: auto;
  margin-left: 30px;
  position: relative;
  display: grid;
  grid-template-rows: 50px 50px;
  height: 250px;
}

.cart-actions-clear {
  font-weight: 500;
  line-height: 26px;
  vertical-align: middle;
  font-size: 16px;
  margin-top: 50px;
  text-decoration: none;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
}

.cart-container-empty {
  padding-top: 90px;
  text-align: center;
  font-size: 40px;
  align-items: center;
  margin: auto;
}
